
    <div class="row-grid" style="margin-right: 40px; grid-template-columns: auto auto;">
        {% if tier %}
          <input type="hidden" name="tier_id" value="{{- tier.id -}}">
        {% else %}
          <input type="hidden" name="tier_id" value="">
        {% endif %}

        <label for="tiername">Tiername</label>
        <input size="20" name="tiername" value="{{- request.form['tiername'] or tier.tiername|sn -}}" required>

        <label for="tierart">Tierart</label>
        <input size="20" name="tierart" value="{{- request.form['tierart'] or tier.tierart|sn -}}" required>

        <label for="rasse">Rasse</label>
        <input size="20" name="rasse" value="{{- request.form['rasse'] or tier.rasse|sn -}}">

        <label for="farbe">Farbe</label>
        <input size="20" name="farbe" value="{{- request.form['farbe'] or tier.farbe|sn -}}">

        <label for="geburtsdatum">Geburtsdatum</label>
        <input size="10" class="date" name="geburtsdatum" value="{{- request.form['geburtsdatum'] or tier.geburtsdatum|dt -}}" required>

        <label for="geschlechtscode">Geschlecht</label>
        {% if tier %}
          {% set geschlechtscode = tier.geschlechtscode %}
        {% else %}
          {% if request.form['geschlechtscode'] %}
            {% set geschlechtscode = request.form['geschlechtscode'] | int %}
          {% else %}
            {% set geschlechtscode = 0 %}
          {% endif %}
        {% endif %}
        {% include 'patient/_select_for_geschlecht.html' %}

        <label for="chip_nummer">Chip Nummer</label>
        <input size="20" name="chip_nummer" value="{{- request.form['chip_nummer'] or tier.chip_nummer|sn -}}">

        <label for="eu_passnummer">EU Passnummer</label>
        <input size="20" name="eu_passnummer" value="{{- request.form['eu_passnummer'] or tier.eu_passnummer|sn -}}">

        <label for="patient">Patient</label>
        {% if tier %}
          {% if tier.patient == 0 %}
            <input type="checkbox" name="patient" value="0">
          {% else %}
            <input type="checkbox" name="patient" value="1" checked>
          {% endif %}
        {% else %}
          {% if request.form['patient'] %}
            {% if request.form.get('patient') %}
              <input type="checkbox" name="patient" value="1" checked>
            {% else %}
              <input type="checkbox" name="patient" value="0">
            {% endif %}
          {% else %}
              <input type="checkbox" name="patient" value="1" checked>
          {% endif %}
        {% endif %}

        <label for="viren">Viren</label>
        <input size="20" name="viren" value="{{- request.form['viren'] or tier.viren|sn -}}">

        <label for="merkmal">Merkmal</label>
        <input size="20" name="merkmal" value="{{- request.form['merkmal'] or tier.merkmal|sn -}}">
    </div>
