
    <div class="row-grid" style="margin-right: 40px; grid-template-columns: auto auto;">
        {% if person %}
          <input type="hidden" name="person_id" value="{{- person.id -}}">
        {% else %}
          <input type="hidden" name="person_id" value="">
        {% endif %}

        <label for="anredecode">Anrede</label>
        {% if person %}
          {% set anredecode = person.anredecode %}
        {% else %}
          {% if request.form['anredecode'] %}
            {% set anredecode = request.form['anredecode'] | int %}
          {% else %}
            {% set anredecode = 0 %}
          {% endif %}
        {% endif %}
        {% include 'patient/_select_for_anrede.html' %}
        
        <label for="titel">Titel</label>
        <input size="5" name="titel" value="{{- request.form['titel'] or person.titel|sn -}}">

        <label for="familienname">Familienname</label>
        <input size="20" name="familienname" value="{{- request.form['familienname'] or person.familienname|sn -}}" required>

        <label for="vorname">Vorname</label>
        <input size="20" name="vorname" value="{{- request.form['vorname'] or person.vorname|sn -}}">

        <label for="notiz">Notiz</label>
        <input size="20" name="notiz" value="{{- request.form['notiz'] or person.notiz|sn -}}">

        <label for="kunde">Kunden Kennzeichen</label>
        {% if person %}
          {% if person.kunde == 0 %}
            <input type="checkbox" name="kunde" value="0">
          {% else %}
            <input type="checkbox" name="kunde" value="1" checked>
          {% endif %}
        {% else %}
          {% if request.form['kunde'] %}
            {% if request.form.get('kunde') %}
              <input type="checkbox" name="kunde" value="1" checked>
            {% else %}
              <input type="checkbox" name="kunde" value="0">
            {% endif %}
          {% else %}
             <input type="checkbox" name="kunde" value="1" checked>
          {% endif %}
        {% endif %}

        <label for="adr_plz">Postleitzahl</label>
        <input size="5" name="adr_plz" value="{{- request.form['adr_plz'] or person.adr_plz|sn -}}">
        
        <label for="adr_ort">Ort</label>
        <input size="20" name="adr_ort" value="{{- request.form['adr_ort'] or person.adr_ort|sn -}}">

        <label for="adr_strasse">Straße</label>
        <input size="20" name="adr_strasse" value="{{- request.form['adr_strasse'] or person.adr_strasse|sn -}}">

        <label for="kontakte">Telefon, Fax, E-Mail</label>
        <textarea name="kontakte">{{- request.form['kontakte'] or person.kontakte|sn -}}</textarea>
    </div>
