
{% extends 'base.html' %}


{% block title %}
  {{- page_title -}}
{% endblock %}


{% block content %}
    <form method="post">
      <div class="row-grid" style="grid-template-columns: auto auto;">
        {% include 'patient/_form_for_person.html' %}

        {% include 'patient/_form_for_tier.html' %}
      </div>

      <div class="small-gap"></div>

      <div class="flex-container">
        <p><input type="submit" value="Speichern"></p>

        <p><a class="btn" href="#" onclick = "javascript:self.close();">Abbrechen</a></p>
      </div>
    </form>

    <script>
      $(document).ready(function(){

        $.datepicker.setDefaults($.datepicker.regional["de"]);
        $(".date").datepicker({ 
            dateFormat: "dd.mm.yy",
            changeMonth: true,
            changeYear: true
        });

      });
    </script>
{% endblock %}
