
{% extends 'base.html' %}


{% block title %}
  {{- page_title -}}
{% endblock %}


{% block content %}
    <form method="post">
      {% include 'patient/_form_for_person.html' %}

      <div class="small-gap"></div>

      <div class="flex-container">
        <p><input class="btn" type="submit" value="Speichern"></p>

        <p><a class="btn" href="{{ url_for('patient.show', tierhaltung_id=tierhaltung_id) }}">Zurück</a></p>
      </div>
    </form>

    <script>
      $(document).ready(function(){

        hinweis_speichern();

      });
    </script>




{% endblock %}
