
{% extends 'base.html' %}


{% block title %}
  Karteikarten
{% endblock %}


{% block content %}
  <div class="small-gap"></div>

  <form method="post" action="{{ url_for('patient.index') }}">
    <div class="flex-container">
      <div>
        <label for="familienname">Familienname</label>
        <input type="text" size="10" name="familienname" value="{{ familienname }}">
      </div>

      <div>
        <label for="tiername">Tiername</label>
        <input type="text" size="10" name="tiername" value="{{ tiername }}">
      </div>

      <div>
        <label for="kunde">Kunde</label>
      {% if kunde == 0 %}
        <input type="checkbox" name="kunde" value="0">
      {% else %}
        <input type="checkbox" name="kunde" value="1" checked>
      {% endif %}
      </div>

      <div>
        <label for="patient">Patient</label>
      {% if patient == 0 %}
        <input type="checkbox" name="patient" value="0">
      {% else %}
        <input type="checkbox" name="patient" value="1" checked>
      {% endif %}
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
  </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="2%">&nbsp;</th>

      <th width="48.5%">Kunde</th>

      <th width="49.5%">Patient</th>
    </tr>
  </table>

  <div class="liste-wrapper">
    <table class="liste">
    {%- for th in tierhaltungen -%}
      <tr width="2%">
        <td style="text-align: center">
          <input type="radio" name="option" value="{{ th.Tierhaltung.id }}">
        </td>

        <td width="49%">
          <a target="_blank" style="text-decoration: underline;" href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
          {%- with person=th.Person -%}
            {%- include '_liste_person.html' -%}
          {%- endwith -%}            
          </a>
        </td>

        <td width="49%">
          <a target="_blank" style="text-decoration: underline;" href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
          {%- with tier=th.Tier -%}
            {%- include '_liste_tier.html' -%}
          {%- endwith -%}
          </a>
        </td>
      </tr>
    {%- endfor -%}
    </table>
  </div>

  <div class="action">
    <p><a class="btn" target="_blank" id="zur_karteikarte" href="#">zur Karteikarte</a></p>

    <p><a class="btn" target="_blank" href="{{ url_for('patient.create') }}">neue Karteikarte</a></p>

    <p><a class="btn" target="_blank" id="neues_tier" href="#">neues Tier</a></p>

    <p><a class="btn" target="_blank" id="neue_rechnung" href="#">neue Rechnung</a></p>

    <p><a class="btn" target="_blank" id="neuer_behandlungsverlauf" href="#">neuer Behandlungsverlauf</a></p>

    <p><a class="btn" id="karteikarte_loeschen" href="#">Karteikarte löschen</a></p>
  </div>

  <script>
    $(document).ready(function() {

        $('#zur_karteikarte').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                //window.location = "/patient/" + id.toString() + "/show";
                window.open("/patient/" + id.toString() + "/show", "_blank");
            }
            return false; 
        });
        $('#neues_tier').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                //window.location = "/patient/" + id.toString() + "/create_tier";
                window.open("/patient/" + id.toString() + "/create_tier", "_blank");
            }
            return false; 
        });
        $('#karteikarte_loeschen').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                if(confirm("Soll der Datensatz gelöscht werden?")){
                    window.location = "/patient/" + id.toString() + "/delete";
                    return true;
                }
                else{
                    return false;
                }
            }
            return false; 
        });
        $('#neuer_behandlungsverlauf').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                //window.location = "/behandlungsverlauf/" + id.toString() + "/create";
                window.open("/behandlungsverlauf/" + id.toString() + "/create", "_blank");
            }
            return false; 
        });
        $('#neue_rechnung').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                //window.location = "/rechnung/" + id.toString() + "/create";
                window.open("/rechnung/" + id.toString() + "/create", "_blank");
            }
            return false; 
        });

    });
  </script>
{% endblock %}

