
{% extends 'base.html' %}


{% block title %}
  {{- page_title -}}
{% endblock %}


{% block content %}
  <div class="small-gap"></div>

  <form method="post" action="{{ url_for('patient.index') }}">
    <div class="flex-container">
      <div>
        <label for="familienname">Familienname</label>
        <input type="text" size="10" name="familienname" value="{{ familienname }}">
      </div>

      <div>
        <label for="tiername">Tiername</label>
        <input type="text" size="10" name="tiername" value="{{ tiername }}">
      </div>

      <div>
        <label for="kunde">Kunde</label>
      {% if kunde == 0 %}
        <input type="checkbox" name="kunde" value="0">
      {% else %}
        <input type="checkbox" name="kunde" value="1" checked>
      {% endif %}
      </div>

      <div>
        <label for="patient">Patient</label>
      {% if patient == 0 %}
        <input type="checkbox" name="patient" value="0">
      {% else %}
        <input type="checkbox" name="patient" value="1" checked>
      {% endif %}
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
  </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="42%">Kunde</th>

      <th width="42%">Patient</th>

      <th width="10%">Aktionen</th>

      <th width="6%">Vorsicht</th>
    </tr>
  </table>

  <div class="liste-wrapper">
    <table class="liste">
    {%- for th in tierhaltungen -%}
      <tr>
        <td width="42%">
          <a target="_blank" style="text-decoration: underline;" href="{{ url_for('patient.show', tierhaltung_id=th.Tierhaltung.id) }}">
          {%- with person=th.Person -%}
            {%- include '_liste_person.html' -%}
          {%- endwith -%}            
          </a>
        </td>

        <td width="42%">
          <a target="_blank" style="text-decoration: underline;" href="{{ url_for('patient.show', tierhaltung_id=th.Tierhaltung.id) }}">
          {%- with tier=th.Tier -%}
            {%- include '_liste_tier.html' -%}
          {%- endwith -%}
          </a>
        </td>

        <td width="10%">
          <a target="_blank" href="{{ url_for('rechnung.create', tierhaltung_id=th.Tierhaltung.id) }}">neue Rechnung</a><br>

          <a target="_blank" href="{{ url_for('behandlungsverlauf.create', tierhaltung_id=th.Tierhaltung.id) }}">neuer Beh.Verlauf</a><br>

          <a target="_blank" href="{{ url_for('patient.create_tier', tierhaltung_id=th.Tierhaltung.id) }}">neues Tier</a>
        </td>

        <td width="6%">
          <a id="{{ th.Tierhaltung.id }}" class="karteikarte_loeschen" href="#">löschen</a>
        </td>
      </tr>
    {%- endfor -%}
    </table>
  </div>

  <div class="action">
    <p><a class="btn" target="_blank" href="{{ url_for('patient.create') }}">neue Karteikarte</a></p>
  </div>

  <script>
    $(document).ready(function() {

        $('.karteikarte_loeschen').click(function(){ 
          var id = $(this).attr('id'); 
          console.log(id.toString());

          if(confirm("Soll der Datensatz gelöscht werden?")){
            window.location = "/patient/" + id.toString() + "/delete";
            return true;
          }
          return false;
        });

    });
  </script>
{% endblock %}

