
{%- extends 'base.html' -%}


{% block title %}
  {{- page_title -}}
{% endblock %}


{%- block content -%}
    <div class="row-grid" style="grid-template-columns: auto auto;">
      <p><a href="{{ url_for('patient.edit_person', id=tierhaltung.id, person_id=tierhaltung.person_id) }}">Person ändern</a></p>

      <p><a href="{{ url_for('patient.edit_tier', id=tierhaltung.id, tier_id=tierhaltung.tier_id) }}">Tier ändern</a></p>

      {%- with person=tierhaltung.person -%}
        {%- include 'patient/_person.html' -%}
      {%- endwith -%}

      {%- with tier=tierhaltung.tier -%}
        {%- include 'patient/_tier.html' -%}
      {%- endwith -%}
    </div>

    <div class="gap"></div>

    <table class="records">
      <thead>
        <tr>
          <th style="width: 8%">Datum</th>
          <th style="width: 30%">Diagnose</th>
          <th style="width: 11%">Laborwerte</th>
          <th style="width: 11%">Laborwerte*</th>
          <th style="width: 14%">Arzneien</th>
          <th style="width: 7%">AM</th>
          <th style="width: 9%">Impfungen</th>
          <th style="width: 5%">Kg</th>
          <th style="width: 6%">&nbsp;</th>
        </tr>
      </thead>
    </table>

    <form method="post" action="{{ url_for('patient.save_behandlungen', id=tierhaltung.id) }}">
      <div id="scroller" style="max-height: calc(100vh - 31.5em); overflow-y: scroll; overflow-x: hidden;">
        <table class="records">
          <tbody>
          {%- for behandlung in behandlungen -%}
            {%- if behandlung|isdict -%}
              {% set active = '' %}
              {% set mark = 'error=error' %}
            {% else %}
              {% set active = 'disabled=disabled' %}
              {% set mark = '' %}
            {% endif %}

            <tr>
              <td style="width: 8%">
                 <input type="hidden" name="behandlung_id[]" {{ active }} value="{{- behandlung['behandlung_id'] or behandlung.id -}}">
                <input type="hidden" name="tier_id[]" {{ active }} value="{{- behandlung['tier_id'] or tierhaltung.tier_id -}}">

                <input type="text" name="datum[]" class="date" {{ mark }} {{ active }} value="{{- behandlung['datum']|dt or behandlung.datum|dt -}}">
              </td>

              <td style="width: 30%">
                <textarea name="diagnose[]" {{ mark }} {{ active }}>
                  {{- behandlung['diagnose'] or behandlung.diagnose -}}
                </textarea>
              </td>

              <td style="width: 11%">
                <textarea name="laborwerte1[]" class="labor" {{ mark }} {{ active }}>
                  {{- behandlung['laborwerte1'] or behandlung.laborwerte1 -}}
                </textarea>
              </td>

              <td style="width: 11%">
                <textarea name="laborwerte2[]" class="labor" {{ mark }} {{ active }}>
                  {{- behandlung['laborwerte2'] or behandlung.laborwerte2 -}}
                </textarea>
              </td>

              <td style="width: 14%">
                <textarea name="arzneien[]" {{ mark }} {{ active }}>{{- behandlung['arzneien'] or behandlung.arzneien -}}</textarea>
              </td>

              <td style="width: 7%">
                <textarea name="arzneimittel[]" {{ mark }} {{ active }}>
                  {{- behandlung['arzneimittel'] or behandlung.arzneimittel -}}
                </textarea>
              </td>

              <td style="width: 9%">
                <textarea name="impfungen[]" class="impfungen" readonly {{ mark }} {{ active }}>
                {%- if behandlung|isdict -%}
                  {{- behandlung['impfungen'] -}}
                {%- else -%}
                  {%- for impfung in behandlung.impfungen -%}
                    {%- if loop.index > 1 %},{%- endif -%}
                    {{- impfung.impfungscode|mapimpfung -}}
                  {%- endfor -%}
                {%- endif -%}
                </textarea>
              </td>

              <td style="width: 5%">
                <textarea name="gewicht[]" {{ mark }} {{ active }}>{{- behandlung['gewicht'] or behandlung.gewicht -}}</textarea>
              </td>

              <td style="width: 6%">
                <p style="margin-bottom: 5px;"><a href="#" onclick="editrow($(this));">ändern</a></p>

                <p><a href="#" onclick="delrow($(this));">löschen</a></p>
              </td>
            </tr>
          {%- endfor -%}

          {%- if not error -%}
            <tr>
              <td style="width: 8%">
                  <input type="hidden" name="behandlung_id[]" value="">
                  <input type="hidden" name="tier_id[]" value="">

                  <input type="text" name="datum[]" class="date" value="{{- datum -}}">
              </td>

              <td style="width: 30%"><textarea name="diagnose[]" id="edit"></textarea></td>

              <td style="width: 11%"><textarea name="laborwerte1[]" class="labor"></textarea></td>

              <td style="width: 11%"><textarea name="laborwerte2[]" class="labor"></textarea></td>

              <td style="width: 14%"><textarea name="arzneien[]"></textarea></td>

              <td style="width: 7%"><textarea name="arzneimittel[]"></textarea></td>

              <td style="width: 9%">
                <textarea name="impfungen[]" class="impfungen" readonly></textarea>
              </td>

              <td style="width: 5%"><textarea name="gewicht[]"></textarea></td>

              <td style="width: 6%">
                <p>&nbsp;</p>
              </td>
            </tr>
          {%- endif -%}
          </tbody>
        </table>
      </div>

      <div class="small-gap"></div>

      <div><input class="btn" type="submit" value="Speichern"></div>
    </form>

    <p style="display: none">
      <select id="laborreferenzen" style="height: 240px" multiple>
      {%- for referenz in laborreferenzen -%}
        <option value="{{- loop.index -}}">{{- referenz -}}</option>
      {%- endfor -%}
      </select>
    </p>

    <p style="display: none">
      <select id="impfungswerte" style="height: 240px" multiple>
      {%- for impfungswert in impfungswerte -%}
        <option value="{{- impfungswert[1] -}}">{{- impfungswert[0] -}}</option>
      {%- endfor -%}
      </select>
    </p>

    <script>

      function get_laborreferenzen_text(){
        var buf = "";
        $('#dialog-laborreferenzen option:selected').each(function(){
          buf += $(this).text() + "\n ";
        });
        return buf;
      }


      function get_impfungswerte_text(){
        var buf = "";
        $('#dialog-impfungswerte option:selected').each(function(){
          if(buf.length > 0){
            buf += ",";
          }
          buf += $(this).text();
        });
        return buf;
      }

      function editrow($obj){
        var row = $obj.closest("tr");

        var disabled = row.find("input[name='datum[]']").attr("disabled");
        if(disabled == "disabled"){
          row.find("textarea").removeAttr("disabled");
          row.find("input").removeAttr("disabled");
          $obj.text("ändern rückgängig");
        }
        else{
          var behandlung_id = row.find("input[name='behandlung_id[]']").val();
          if(behandlung_id != null){
            var url = "/patient/" + behandlung_id.toString() + "/async_read_behandlung";
            $.get(url, function(data){
              $.each(data, function(key, value){
                if(key == "datum"){
                  row.find("input[name='datum[]']").val(value);
                }
                else if(key == "gewicht"){
                  row.find("textarea[name='gewicht[]']").val(value);
                }
                else if(key == "diagnose"){
                  row.find("textarea[name='diagnose[]']").val(value);
                }
                else if(key == "laborwerte1"){
                  row.find("textarea[name='laborwerte1[]']").val(value);
                }
                else if(key == "laborwerte2"){
                  row.find("textarea[name='laborwerte2[]']").val(value);
                }
                else if(key == "arzneien"){
                  row.find("textarea[name='arzneien[]']").val(value);
                }
                else if(key == "arzneimittel"){
                  row.find("textarea[name='arzneimittel[]']").val(value);
                }
                else if(key == "impfungen"){
                  row.find("textarea[name='impfungen[]']").val(value);
                }
              });
            });
          }
          row.find("textarea").attr("disabled", "disabled");
          row.find("input").attr("disabled", "disabled");
          $obj.text("ändern");
        }
        return false; 
      }

      function delrow($obj){
        var row = $obj.closest("tr");

        row.find("td").addClass('delete');

        if(confirm("Zeile Löschen?")){
          var behandlung_id = row.find("input[name='behandlung_id[]']").val();

          if(behandlung_id != null){
            var url = "/patient/" + behandlung_id.toString() + "/async_delete_behandlung";
            $.get(url, function(data){
              if(data.length > 0){
                row.remove();
              }
            });
          }
        }
        else{
          row.find("td").removeClass('delete');
        }
        return false;
      }

      $(document).ready(function(){

        $.datepicker.setDefaults($.datepicker.regional["de"]);

        $(".date").datepicker({ 
          dateFormat: "dd.mm.yy",
          changeMonth: true,
          changeYear: true 
        });

        $("#edit").focus();
        $("input[error]").focus();

        var element = document.getElementById("scroller");
        element.scrollTop = element.scrollHeight;
            
        var $dialog_labor = $('<div></div>');
        $dialog_labor.dialog({
            autoOpen: false,
            title: 'Laborwerte',
            modal: true,
            buttons: [{ text: "OK", click: function(){
                labor_text_feld.value = labor_text_feld.value + get_laborreferenzen_text() + '**';
                labor_text_feld.focus(); 
                $(this).dialog("close");} 
              },
              {text: "Abbruch", click: function(){
                labor_text_feld.focus();
                $(this).dialog("close");} 
              }] 
        });

        $('.labor').click(function(){
            labor_text_feld = this;
            var body = "<select id='dialog-laborreferenzen' style='height: 240px' multiple>"
            $('#laborreferenzen option').each(function( index ) {
              body += "<option value='" + $( this ).text() + "'>" +  $( this ).text() + "</option>";
            });
            body += "</select>";
            $dialog_labor.html(body);
            $dialog_labor.dialog('open');
            // prevent the default action, e.g., following a link
            return false;
        });

        var $dialog_impfungen = $('<div></div>');
        $dialog_impfungen.dialog({
            autoOpen: false,
            title: 'Impfungen',
            modal: true,
            buttons: [{text: "OK", click: function(){
                       impfungen_text_feld.value = get_impfungswerte_text();
                       impfungen_text_feld.focus(); 
                       $(this).dialog("close");} 
                      },
                      {text: "Abbruch", click: function(){
                       impfungen_text_feld.focus();
                       $(this).dialog("close");} 
                       }] 
        });

        $('.impfungen').click(function(){
            console.log("impfungen: " + $(this).val());
            impfungen_text_feld = this;
            var impfungen = $(this).val().split(",");
            var body = "<select id='dialog-impfungswerte' style='height: 240px' multiple>"
            $('#impfungswerte option').each(function( index ) {
              var impfungswert = $( this ).text();
              var isequal = false;
              $.each(impfungen, function(index, value){
                if(value == impfungswert){
                  isequal = true;
                }
              });
              if(isequal){
                body += "<option value='" + $( this ).text() + "' selected>" +  $( this ).text() + "</option>";
              }
              else{
                body += "<option value='" + $( this ).text() + "'>" +  $( this ).text() + "</option>";
              }
            });
            body += "</select>";

            $dialog_impfungen.html( body ); 
            $dialog_impfungen.dialog('open');
            // prevent the default action, e.g., following a link
            return false;
        });

        hinweis_speichern();

      });

    </script>

{%- endblock -%}
