
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ordi - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.12.1.min.css') }}">
    
    {%- if page_title != "Kalender" -%}
      <script src="{{ url_for('static', filename='hinweis_speichern.js') }}"></script>
    {%- endif -%}

    {%- if page_title == "Kalender" -%}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">
    {%- endif -%}

    {%- if page_title == "Termin" -%}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='jquery.timepicker.css') }}">
    {%- endif -%}

    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='jquery-ui-1.12.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='datepicker-de.js') }}"></script>

    {%- if page_title == "Kalender" -%}
      <script src="{{ url_for('static', filename='platziere_termine.js') }}"></script>
    {%- endif -%}

    {%- if page_title == "Termin" -%}
      <script src="{{ url_for('static', filename='platziere_termine.js') }}"></script>

      <script src="{{ url_for('static', filename='jquery.timePicker.js') }}"></script>
    {%- endif -%}
  </head>
  <body>
    <header>
      <h1>Ordi</h1>

      <h2>{{ page_title }}</h2>

      <p>
      {% if current_user.is_authenticated %}
        <span>{{- current_user.username -}} &nbsp;</span>
        <a href="{{ url_for('auth.logout') }}">abmelden</a>
      {% elif page_title != "Anmelden" %}
        <a href="{{ url_for('auth.login') }}">anmelden</a>
      {% endif %}
      </p>
    </header>

    {% if page_title == "Karteikarten" %}
      <nav class="flex-container">
        {#% if page_title != "Anmelden" %#}
          <p><a href="{{ url_for('patient.index') }}">Karteikarten</a></p>

          <p><a target="_blank" href="{{ url_for('rechnung.index') }}">Rechnungen</a></p>

          <p><a target="_blank" href="{{ url_for('behandlungsverlauf.index') }}">Behandlungsverläufe</a></p>

          <p><a target="_blank" href="{{ url_for('abfrage.index') }}">Abfragen</a></p>

          <p><a target="_blank" href="{{ url_for('kalender.index') }}">Kalender</a></p>
        {#% else %#}
          <!--p>&nbsp;</p-->
        {#% endif %#}
      </nav>
    {% endif %}

    <div id="content-wrapper">
      <div id="msg">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>

