
{% extends 'base.html' %}


{% block title %}
  {{- page_title -}}
{% endblock %}


{% block content %}
  <div class="small-gap"></div>

  <form method="post" action="{{ url_for('rechnung.index') }}">
    <div class="flex-container">
      <div>
        <label for="jahr">Jahr</label>

        <input type="text" size="10" name="jahr" value="{{- jahr -}}">
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
  </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="6%">Jahr</th>

      <th width="6%">Lfnr.</th>

      <th width="10%">Bto.Summe</th>

      <th width="36%">Kunde</th>

      <th width="36%">Patient</th>

      <th width="6%">löschen</th>
    </tr>
  </table>

  <div class="liste-wrapper" style="max-height: calc(100vh - 8em);">
    <table class="liste">
    {%- for rechnung in rechnungen -%}
      <tr>
        <td width="6%">
          <a target="_blank" href="{{ url_for('rechnung.show', rechnung_id=rechnung.Rechnung.id) }}">
            {{- rechnung.Rechnung.jahr -}}
          </a>
          </td>

        <td width="6%">
          <a target="_blank" href="{{ url_for('rechnung.show', rechnung_id=rechnung.Rechnung.id) }}">
            {{- rechnung.Rechnung.lfnr -}}
          </a>
        </td>

        <td width="10%">
          <a target="_blank" href="{{ url_for('rechnung.show', rechnung_id=rechnung.Rechnung.id) }}">
            {{- rechnung.Rechnung.brutto_summe|currency -}}
          </a>
        </td>

        <td width="36%">
          <a target="_blank" href="{{ url_for('rechnung.show', rechnung_id=rechnung.Rechnung.id) }}">
          {%- with person=rechnung.Person -%}
            {%- include '_liste_person.html' -%}
          {%- endwith -%}
          </a>
        </td>

        <td width="36%">
          <a target="_blank" href="{{ url_for('rechnung.show', rechnung_id=rechnung.Rechnung.id) }}">
          {%- with tier=rechnung.Tier -%}
            {%- include '_liste_tier.html' -%}
          {%- endwith -%}
          </a>
        </td>
        
        <td width="6%">
          <a id="{{ rechnung.Rechnung.id }}" class="rechnung_loeschen" href="#">löschen</a>
        </td>
      </tr>
    {%- endfor -%}
    </table>
  </div>

  <script>
    $(document).ready(function(){

      $('.rechnung_loeschen').click(function(){ 
        var id = $(this).attr('id'); 
        console.log(id.toString());

        if(confirm("Soll der Datensatz gelöscht werden?")){
          window.location = "/rechnung/" + id.toString() + "/delete";
          return true;
        }
        return false;
      });

    });
  </script>
{% endblock %}

