
{% extends 'base.html' %}


{% block title %}
  Rechnungen
{% endblock %}


{% block content %}
  <div class="small-gap"></div>

  <form method="post" action="{{ url_for('rechnung.index') }}">
    <div class="flex-container">
      <div>
        <label for="jahr">Jahr</label>

        <input type="text" size="10" name="jahr" value="{{- jahr -}}">
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
  </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="2%">&nbsp;</th>

      <th width="6%">Jahr</th>

      <th width="5.8%">Lfnr.</th>

      <th width="9.9%">Bto.Summe</th>

      <th width="37.6%">Kunde</th>

      <th width="38.7%">Patient</th>
    </tr>
  </table>

  <div class="liste-wrapper">
    <table class="liste">
    {%- for rechnung in rechnungen -%}
      <tr>
        <td width="2%" style="text-align: center"><input type="radio" name="option" value="{{- rechnung.Rechnung.id -}}"></td>

        <td width="6%"><a target="_blank" href="{{ url_for('rechnung.edit', rechnung_id=rechnung.Rechnung.id) }}">{{- rechnung.Rechnung.jahr -}}</a></td>

        <td width="6%"><a target="_blank" href="{{ url_for('rechnung.edit', rechnung_id=rechnung.Rechnung.id) }}">{{- rechnung.Rechnung.lfnr -}}</a></td>

        <td width="10%"><a target="_blank" href="{{ url_for('rechnung.edit', rechnung_id=rechnung.Rechnung.id) }}">
        {{- rechnung.Rechnung.brutto_summe|currency -}}
        </a></td>

        <td width="38%">
          <a target="_blank" href="{{ url_for('rechnung.edit', rechnung_id=rechnung.Rechnung.id) }}">
          {%- with person=rechnung.Person -%}
            {%- include '_liste_person.html' -%}
          {%- endwith -%}
          </a>
        </td>

        <td width="38%">
          <a target="_blank" href="{{ url_for('rechnung.edit', rechnung_id=rechnung.Rechnung.id) }}">
          {%- with tier=rechnung.Tier -%}
            {%- include '_liste_tier.html' -%}
          {%- endwith -%}
          </a>
        </td>
      </tr>
    {%- endfor -%}
    </table>
  </div>

  <div class="action">
    <p><a class="btn" id="zur_rechnung" href="#">zur Rechnung</a></p>

    <p><a class="btn" id="rechnung_loeschen" href="#">Rechnung löschen</a></p>
  </div>

  <script>
    $(document).ready(function(){

        $('#zur_rechnung').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                window.location = "/rechnung/" + id.toString() + "/edit";
            }
            return false; 
        });

        $('#rechnung_loeschen').click(function(){ 
            var id = $("input:radio[name=option]:checked").val(); 
            if(id == null){
                alert("Bitte eine Karteikarte auswählen!");
            }
            else{
                if(confirm("Soll der Datensatz gelöscht werden?")){
                    window.location = "/rechnung/" + id.toString() + "/delete";
                    return true;
                }
                else{
                    return false;
                }
            }
            return false; 
        });

    });
  </script>
{% endblock %}

