
{% extends 'base.html' %}


{% block title %}
  {{- page_title -}}
{% endblock %}


{% block content %}
  <div class="small-gap"></div>

  <form method="post" action="{{ url_for('behandlungsverlauf.index') }}">
    <div class="flex-container">
      <div>
        <label for="jahr">Behandlungsjahr</label>

        <input type="text" size="10" name="jahr" value="{{- jahr -}}">
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
  </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="10%">Beh.Datum</th>

      <th width="42%">Kunde</th>

      <th width="42%">Patient</th>
      
      <th width="6%">löschen</th>
    </tr>
  </table>

  <div class="liste-wrapper">    
    <table class="liste">
    {%- for behverlauf in behandlungsverlaeufe -%}
      <tr>
        <td style="width: 10%">
          <a target="_blank" href="{{ url_for('behandlungsverlauf.edit', behandlungsverlauf_id=behverlauf.Behandlungsverlauf.id) }}">
            {{- behverlauf.Behandlungsverlauf.datum|fmtdate -}}
          </a>
        </td>

        <td style="width: 42%">
          <a target="_blank" href="{{ url_for('behandlungsverlauf.edit', behandlungsverlauf_id=behverlauf.Behandlungsverlauf.id) }}">
          {%- with person=behverlauf.Person -%}
            {%- include '_liste_person.html'-%}
          {%- endwith -%}  
          </a>
        </td>

        <td style="width: 42%">
          <a target="_blank" href="{{ url_for('behandlungsverlauf.edit', behandlungsverlauf_id=behverlauf.Behandlungsverlauf.id) }}">
          {%- with tier=behverlauf.Tier -%}
            {%- include '_liste_tier.html' -%}
          {%- endwith -%} 
          </a>
        </td>

        <td width="6%">
          <a id="{{- behverlauf.Behandlungsverlauf.id -}}" class="behandlungsverlauf_loeschen" href="#">löschen</a>
        </td>
      </tr>
    {%- endfor -%}
    </table>
  </div>

  <script>
    $(document).ready(function(){

      $('.behandlungsverlauf_loeschen').click(function(){ 
        var id = $(this).attr('id'); 
        console.log(id.toString());

        if(confirm("Soll der Datensatz gelöscht werden?")){
          window.location = "/behandlungsverlauf/" + id.toString() + "/delete";
          return true;
        }
        return false;
      });

    });
  </script>
{% endblock %}

