
{% extends 'print_base.html' %}

{% block title %}
  Behandlungsverlauf
{% endblock %}


{% block content %}

  {% with person=bv.person %}
    {% include '_print_anrede.html' %}
  {% endwith %}

  <div style="display: flex; grid-template-columns: auto max-content; margin-bottom: 0.2cm">
    <p>
      Patient: &nbsp; {{- bv.tier.tiername -}} &nbsp; {{- bv.tier.tierart -}}
      {%- if bv.tier.geburtsdatum -%}
        ,&nbsp;geb. &nbsp; {{- bv.tier.geburtsdatum|dt -}}
      {%- endif -%}
    </p>
    <p>
      {{- bv.datum|dt -}}
    </p>
  </div>

  <p style="margin-bottom: 0.8cm">
    Diagnose: &nbsp; {{- bv.diagnose -}}
  </p>

  <p>
    <pre>{{- bv.behandlung -}}</pre>
  </p>
{% endblock %}
