
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='print.css') }}">
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <td>
            <div class="header-space">&nbsp;</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="content">{% block content %}{% endblock %}</div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <div class="footer-space">&nbsp;</div>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="header">{% include '_print_header.html' %}</div>
    
    <div class="footer">
      {%- if page_title == Rechnung -%}
        {% include '_print_footer_bank.html' %}
        {% include '_print_footer_kontakt.html' %}
      {%- else -%}
        {% include '_print_footer_kontakt.html' %}
      {%- endif -%}
    </div>

  </body>
</html>

